{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet"
      href="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.css"
      integrity="sha384-47VeTDpmy4yT21gKPXQcLQYQZwlmz27gEH5NTrOmTk3G/SGvMyltclOW/Q8uE+sL"
      crossorigin="anonymous">
<script src="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.js"
        integrity="sha384-/KwQCjA1GWovZNV3QDVtvSMDzO4reGgarF/RqHipr7hIUElH3r5zNl9WEPPOBRIF"
        crossorigin="anonymous"></script>
<div class="album mt-2">
    <div class="container">
        <div class="row row-cols-3">
            {% for board in boards %}
            <div class="col">
                <div class="card shadow-sm" style="width: 18rem;">
                    <div id="board"></div>
                    <div class="card-body">
                        <a href="/room/{{board.room_name}}">Go to board</a>
                    </div>
                    <script>
                        Chessboard2('board', {
                            position: "{{board.fen}}"
                        })
                        
                        $("#board").removeAttr("id");
                    </script>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}