{% extends 'layout.html' %}

{% block body %}
    <!-- <div class="jumbotron text-center">
        <h1 class="display-4">Collaborative Chess Education</h1>
        <p class="lead">Simplify teaching and learning chess with <b>Chess.local</b></p>
        <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Get Started</a>
      </div>
      
      
      <div class="container py-5 mt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box">
              <h3>Easy-to-Use Sync Board</h3>
              <p>Seamless real-time collaboration with our synchronized chess board.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box">
              <h3>Effortless Board Setup</h3>
              <p>Setup, import, and manage chess boards effortlessly for a smooth teaching and learning experience.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box">
              <h3>No Authentication Hassle</h3>
              <p>Get started without the need for authentication, simplifying the onboarding process for teachers and students.</p>
            </div>
          </div>
        </div>
      </div>
      
      
      <section id="get-started" class="py-5 mt-5">
        <div class="container text-center">
          <h2 class="display-4">Get Started Today</h2>
          <p class="lead">Ready to experience the simplicity of collaborative chess education? Sign up now or explore boards to get started instantly.</p>
          <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign Up</a>
          <a class="btn btn-secondary btn-lg" href="{% url 'boards' %}" role="button">Explore Boards</a>
        </div>
      </section>
      <style>
        .jumbotron {
          background-color: var(--bs-body-color);
          color: var(--bs-border-color);
          padding: 2rem;
        }
        .feature-box {
          background-color: var(--bs-body-bg);
          padding: 2rem;
          border-radius: 10px;
          margin-top: 20px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
      </style> -->

{% endblock %}